@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
body {
    margin: 0;
}
a {
   text-decoration: none;
}
.header-outer {
    display: flex;
    align-items: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;    
    font-family: 'Poppins', sans-serif;
}
.header .section-1 .container {
	justify-content: space-between;
}
.header {
    width: 100%;
}
.header .header-logo {
	padding-left: 30px;
}
.header .hb-section-outer {
	height: 80px;
}
.header .hb-section-outer .sticky-row .hb-section {
	box-shadow: 0 5px 10px rgba(5, 2, 34, 0.05) !important;
}
.header .sticky-row .container {
	height: 100%;
}
.header .hb-s1i3 .site-navigator > .menu-item:last-child > .menu-item-link {
	padding-right: 0;
}
.header .element-item.hb-s1i3 {
	margin-right: 30px;
}
.first-screen {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: calc(100vh - 80px);
    background: #fff;
    overflow: hidden;
    position: relative;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin-left: 0;
}
.first-screen-bg {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 100px;
    overflow: hidden;
    /*width: 64%;*/
    max-width: 1200px;
}

.first-screen-new {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100vh;
    background: #fff;
    overflow: hidden;
    position: relative;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    width: 100vw;
    margin-top: -60px;
}
.first-screen-new-bg {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    top: 0;
    right: 0;
    bottom: 0;
    padding-left: 100px;
    overflow: hidden;
    /*width: 64%;*/
    max-width: 100vw;
    padding: 0;
    margin: 0;
}
.blue-circle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: linear-gradient(270deg, #7569F7 0%, #0680F2 100%);
    width: 1164px;
    height: 1164px;
    position: absolute;
    margin-left: 243px;
    margin-top: -330px;
}
.grey-circle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: linear-gradient(270deg, #7569F7 0%, #0680F2 100%);
    opacity: 0.1;
    width: 1164px;
    height: 1164px;
    position: absolute;
    margin-top: 195px;
    margin-left: -30px;
}
.pic-wrap-new {
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(117,105,247,0.3) 0%, rgba(6,128,242,0.3) 100%);
}
.pic-wrap-bg-new img {
    width: 100vw;
    background: radial-gradient(circle, rgba(117,105,247,0.3) 0%, rgba(6,128,242,0.3) 100%);
}
.pic-wrap-new img {
    position: absolute;
    right: 0;
    max-width: 75%;
    height: auto;
    min-height: 100%;
}

.pic-wrap {
    width: 100%;
    height: 100%;
}
.pic-wrap img {
    position: absolute;
    bottom: -10px;
    top: -10px;
    right: 0;
    width: auto;
    max-width: none;
    height: auto;
    min-height: 100%;
    height: 102vh;
}
.first-screen-caption {
    color: #333;
    z-index: 10;
    position: absolute;
    top: 50%;
    margin-top: -188px;
    /*margin-left: 24%;*/
    margin-left: 15%;
}

.first-screen-caption-new {
    color: #333;
    z-index: 10;
    position: absolute;
    top: 50%;
    margin-top: -188px;
    /*margin-left: 24%;*/
    margin-left: 15%;
}
.first-screen .container .vc_column-inner  {
	padding: 0;
}
.first-screen .container {
	padding: 0;
}
.first-screen-caption h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 80px;
    margin-top: 0 !important;
    margin-bottom: 20px !important;
    color: #333;
}
.first-screen-caption h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 42px;
    margin: 0 !important;
    margin-bottom: 32px !important;
    color: #333;
}
.first-screen-caption a {
    cursor: pointer;
    display: block;
    font-size: 18px;
    text-align: center;
    color: #fff;
    background: linear-gradient(270deg, #713FFF -14.29%, #00A6FF 100%);
    box-shadow: 0px 5px 10px rgba(5, 2, 34, 0.1);
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px;
    width: 385px;
    line-height: 80px;
}

.login-btns .login-btn {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    background: #FAF9FF;
    color: #7569F7 !important;
    margin-right: 21px;
}
.login-btns .login-btn>a>span.menu_title {
	color: #7569F7 !important;
}
.login-btns .signup-btn {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 16px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    background: #7569F7;
    color: #fff;
    box-shadow: 0px 1px 2px rgba(117, 105, 247, 0.3);
}
.login-btns .signup-btn>a>span.menu_title {
	color: #fff !important;
}
.header .hb-s1i3 .site-navigator > .signup-btn > .menu-item-link {
	padding-right: 10px !important;
}
.header .clear:before, .header .clear:after {
	display: none;
}

.home-heading
{
    top: 30vh;
    text-shadow: 0px 4px 4px rgba(25,25,25,0.3);
}


/*First Screen Form*/


.first_scr_form_wrapper
{
    position: relative;
top: -30vh;
max-width: 60vw;
margin-left: 20vw;
border-radius: 7px;
max-width: 1900px;
min-width: 200px;
width: 60vw;
padding-left: 2%;
padding-right: 2%;
background: #fff;
box-shadow: 0px 4px 4px rgba(25,25,25,0.3);
padding-top: 3vh;
    
}

.form-control-frs-scr
{
    
}

/* form starting stylings ------------------------------- */
.first_scr_form_wrapper .group 	 { 
    position:relative; 
    float: left;
    margin: 10px;
    margin-right: 10px;
    max-width: 150px;
    margin-right: 150px;

}
.first_scr_form_wrapper input 
{
  font-size:16px;
  padding:10px 10px 10px 5px;
  display:block;
  width:inherit;
  border:none;
  border-bottom:1px solid #757575;
}
.first_scr_form_wrapper input:focus 		{ outline:none; }

/* LABEL ======================================= */
.first_scr_form_wrapper label 				 {
  color:#999; 
  font-size:16px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

/* active state */
.first_scr_form_wrapper input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#5264AE;
}

/* BOTTOM BARS ================================= */
.first_scr_form_wrapper .bar 	{ position:relative; display:block; width:300px; }
.first_scr_form_wrapper .bar:before, .bar:after 	{
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#5264AE; 
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.first_scr_form_wrapper .bar:before {
  left:50%;
}
.first_scr_form_wrapper .bar:after {
  right:50%; 
}

/* active state */
.first_scr_form_wrapper input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.first_scr_form_wrapper .highlight {
  position:absolute;
  height:60%; 
  width:100px; 
  top:25%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.first_scr_form_wrapper input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

.first_scr_form_wrapper .select {
  font-family:
    'Roboto','Helvetica','Arial',sans-serif;
	position: relative;
	width: 100%;
    float: left;
    margin: 10px;
    max-width: 200px;
}

.first_scr_form_wrapper .select-text {
	position: relative;
	font-family: inherit;
	background-color: transparent;
	width: inherit;
	padding: 10px 10px 10px 0;
	font-size: 16px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid rgba(0,0,0, 0.12);
}

/* Remove focus */
.first_scr_form_wrapper .select-text:focus {
	outline: none;
	border-bottom: 1px solid rgba(0,0,0, 0);
}

	/* Use custom arrow */
.first_scr_form_wrapper .select .select-text {
	appearance: none;
	-webkit-appearance:none
}

.first_scr_form_wrapper .select:after {
	position: absolute;
	top: 18px;
	right: 10px;
	/* Styling the down arrow */
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, 0.12);
	pointer-events: none;
}


/* LABEL ======================================= */
.first_scr_form_wrapper .select-label {
	color: rgba(0,0,0, 0.26);
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: 0;
	top: 10px;
	transition: 0.2s ease all;
}

/* active state */
.first_scr_form_wrapper .select-text:focus ~ .select-label, .select-text:valid ~ .select-label {
	color: #2F80ED;
	top: -20px;
	transition: 0.2s ease all;
	font-size: 14px;
}

/* BOTTOM BARS ================================= */
.first_scr_form_wrapper .select-bar {
	position: relative;
	display: block;
	width: 350px;
}

.first_scr_form_wrapper .select-bar:before, .select-bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #2F80ED;
	transition: 0.2s ease all;
}

.first_scr_form_wrapper .select-bar:before {
	left: 50%;
}

.select-bar:after {
	right: 50%;
}

/* active state */
.first_scr_form_wrapper .select-text:focus ~ .select-bar:before, .select-text:focus ~ .select-bar:after {
	width: 50%;
}

/* HIGHLIGHTER ================================== */
.first_scr_form_wrapper .select-highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
.first_scr_form_wrapper .field_holder   
{
    width: 70%;
    position: relative;
    max-width: 70%;
    padding-top: 7vh;
    float: left;
    margin-bottom: 5vh;
    padding-bottom: 10vh;
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

.first_scr_form_wrapper .submit-btn {

    width: 40vh;
    height: 40px;
    top: 2vh;
    margin: auto;
    margin-bottom: auto;
    margin-bottom: 1.5rem;
    display: block;
    border-radius: 20px;
    color: white;
    border-color: blueviolet;
    background: linear-gradient(90deg,rgb(117,105,247) 0%,rgb(6,128,242) 100%);
    font-family: inherit;
    font-size: 18px;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;

 }




/*campaign*/
.campaign-first-scr {
    font-family: "Poppins";
    padding-top: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: calc(100vh - 80px);
    color: #333;
    width: calc(100vw - 45px);
    line-height: normal;
}
.campaign-first-scr:first-child {
    padding-top: 0;
    margin-top: -40px;
}
.campaign-first-scr .container-last {
    background-color: #0680f2;
    border-radius: 10px;
    box-shadow: 5px 5px #c6e3fc;
    padding: 10px;
}
.campaign-first-scr .container-last .custom-camp-gist-1 {
    color: #fff;
    margin-top: 225px;
    margin-left: 130px;
    margin-right: 130px;
}
.campaign-first-scr .container-last .custom-camp-gist-2 {

}
@media (min-width: 576px) {
    .campaign-first-scr>.container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .campaign-first-scr>.container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .campaign-first-scr>.container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .campaign-first-scr>.container {
        max-width: 1140px;
    }
}
h1.campaign-title {
    text-align: center;
    color: #0680f2;
    font-weight: 700;
    padding-bottom: 40px;
    line-height: normal;
}
.campaign-img-wrap img {
    max-width: 100%;
    margin-bottom: 30px;
}
.campaign-desc-title {
    margin-bottom: 10px;
    font-size: 18px;
}
.campaign-desc-cont {
    font-size: 18px;
}
.campaign-data-tit {
    font-size: 22px;
    color: #333;
    line-height: 36px;
}
.campaign-data-val {
    font-size: 24px;
    color: #0680f2;
    font-weight: 500;
    line-height: 36px;
}
.campaign-data-val-red {
    color: #7569f7;
}
.camp-progress-bar {
    width: 100%;
    height: 50px;
    border: 1px solid #7569f7;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    position: relative;
    margin-bottom: 110px;
    margin-top: 30px;
}
.camp-bar {
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    border-radius: 10px;
    background-color: #7569f7;
    transition: width 1s linear;
    -moz-transition: width 1s linear;
    -webkit-transition: width 1s linear;
    -o-transition: width 1s linear;
}
.camp-lbl-collected {
    position: absolute;
    right: 0;
    top: 100%;
    margin-top: 15px;
    width: 100px;
    margin-right: -50px;
    text-align: center;
    color: #333;
    font-size: 12px;
    font-style: italic;
}
.camp-lbl-collected span {
    display: block;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    margin-bottom: 2px;
    line-height: 1;
    color: #7569f7;
}
.camp-lbl-rest {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
    text-align: center;
    justify-content: center;
    transition: width 1s linear;
    -moz-transition: width 1s linear;
    -webkit-transition: width 1s linear;
    -o-transition: width 1s linear;
    color: #333;
    font-style: italic;
}
.camp-lbl-collected-rest {
    color: #7569f7;
}
.people-photo-wrap {
    display: flex;
    justify-content: space-between;
}
.people-photo-item {
    overflow: hidden;
    width: 18%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.people-photo-item img {
    min-width: 100%;
    width: 100%;
}
.people-title {
    font-size: 22px;
    font-weight: 500;
    /* color: #7569f7; */
    margin-bottom: 15px;
    margin-top: 25px;
}
.people-photo-wrap {
    /* border: 1px solid #333; */
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 15px 30px;
}
.people-title-count {
    color: #7569f7;
    padding-right: 10px;
}
.people-count {
    text-align: center;
}
.people-photo-item-name {
    color: #333;
    font-size: 12px;
}
.btn-cotrib {
    background-color: #7569f7;
    border-color: #7569f7;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    padding: 10px 30px;
}
.btn-cotrib:hover {
    background-color: #0680f2;
    border-color: #0680f2;
}
h2.camp-h2 {
    text-align: center;
    font-weight: 500;
    color: #121212;
    margin-bottom: 50px;
    line-height: normal;
}
.camp-lead {
    font-size: 20px;
    text-align: center;
}
.camp-lead-bold {
    font-weight: 500;
}
.camp-lead:last-child {
    margin-bottom: 85px;
}
.camp-h3 {
    text-align: center;
    color: #7569f7;
}
.spec-ideas {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.camp-form-about {
    width: 100%;
    padding: 15% 10% 5% 10%;
    border: 1px solid #333;
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
}
.camp-form-about label {
    margin-bottom: 20px;
}
.camp-form-about .form-group {
    margin-bottom: 55px;
}
.sbmt-btn {
    /* background-color: #7569f7;
    border-color: #7569f7;
    padding: 5px 30px; */
    /* font-size: 18px; */
    font-weight: bold; 
    /* padding: 10px 50px; */
    border-radius: 5px 5px;
    border: none;
    background-color: #0680f2;
    text-transform: uppercase;
    -webkit-box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.43); -moz-box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.43); box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.43);
    /* box-shadow: 10px 9px 7px 0px rgba(199, 199, 199, 0.85);
    -moz-box-shadow: 10px 9px 7px 0px rgba(199, 199, 199, 0.85);
    -webkit-box-shadow: 10px 9px 7px 0px rgba(199, 199, 199, 0.85); */

    /* style="background-color: #6a5ef6; text-transform: uppercase; font-size: 18px; font-weight: bold; padding: 10px 50px;
border: none; -webkit-box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.43); -moz-box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.43); box-shadow: 4px 4px 10px 1px rgba(0,0,0,0.43);" */
}
.sbmt-btn:hover {
    background-color: #0680f2;
    border-color: #0680f2;
}
.camp-curr-goal {
    font-size: 28px;
    text-align: center;
    margin-bottom: 35px;
}
.camp-curr-goal span {
    color: #7569f7;
    font-weight: 500;
}
.curr-gaol-img-wrap img {
    max-width: 100%;
}
.curr-goal-desc-title {
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 16px;
}
.curr-goal-desc-val {
    font-size: 16px;
    margin-bottom: 20px;
}
.curr-goal-feature {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.camp-spec-steps {
    border-right: 1px solid #333;
    text-align: center;
}
.camp-spec-steps:last-child {
    border: none;
}
.camp-steps-tit {
    font-size: 20px;
    font-weight: 500;
    color: #0680f2;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.camp-steps-subtit {
    font-size: 14px;
    margin-bottom: 30px;

}
.form-check-steps, .form-check-other {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.form-check-steps label {
    width: 60%;
    text-align: left;
    border-bottom: 1px solid #e8e8e8;
    line-height: 40px;
    display: block;
}
.form-check-steps input {
    position: relative;
}
.form-check-other {
    margin-top: 20px;
    margin-bottom: 50px;
}
.form-check-other input{
    position: relative;
}
.other-sum {
    width: 60%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 30px;
}
.sbmt-step-btn {
    width: 200px;
    height: 60px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}
.camp-second-step-stat {
    font-weight: 500;
    padding-bottom: 50%;
}
.camp-spec-steps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.camp-third-step-btns {
    width: 100%;
}
.camp-third-step-btns a {
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.camp-third-step-link {
    width: 100%;
}
.camp-third-step-link-title {
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}
.camp-third-step-link-wrap {
    display: flex;
    margin-bottom:15px;
}
.camp-third-step-link-wrap a {
    width: 145px;
    margin-left: 10px;
}
.camp-gist {
    font-size: 35px;
    text-align: center;
    margin-bottom: 150px;
}
.camp-gist-form {
    padding: 0 15%;
    margin-bottom: 50px;
}

.camp-gist-form input {
    width: 47%;
    display: inline-block;
    height: 60px;
    margin-bottom: 40px;
}
.camp-gist-form button {
    margin: auto;
    display: block;
}
.camp-gist-form input:first-child {
    margin-right: 5%;
}
h2.camp-h2-big-mrg {
    /* margin-bottom: 100px; */
}



@media (max-width: 1560px) {
	.first-screen-bg {
		width: 62%;
	}
}
@media (max-width: 1560px) and (min-height: 720px) {	
	.pic-wrap img {
		right: auto;
		left: 0;
	}
}
@media (min-width: 600px) and (max-height: 720px) {	
	.first-screen-bg {
		width: 100%;
	}
}
@media (max-width: 1560px) and (min-height: 720px) {	
	.pic-wrap img {
		right: auto;
		left: 0;
	}
}
@media (max-width: 600px) {	
	.pic-wrap img {
		right: auto;
		left: 0;
	}
	.first-screen-bg {
		width: 62%;
	}
}
@media (min-height: 1000px) {	
	.first-screen-bg {
		width: 100%;
		max-width: 100%;
	}
}
@media (max-width: 1560px) and (min-height: 720px) {	
	.pic-wrap img {
		right: auto;
		left: 0;
	}
}
@media (min-height: 1200px) {
    .campaign-first-scr {
        min-height: auto;
        margin-bottom: 70px;
    }
}
@media (max-width: 1120px) {
    .campaign-data-tit {
        font-size: 18px;
        line-height: 26px;
    }
    .campaign-data-val {
        font-size: 20px;
        line-height: 26px;
    }
    .campaign-title {
        font-size: 30px;
    }
    .campaign-data-tit {
        font-size: 16px;
        line-height: 22px;
    }
    .campaign-data-val {
        font-size: 16px;
        line-height: 22px;
    }
    .campaign-desc-title {
        font-size: 16px;
    }
    .people-title {
        font-size: 20px;
    }
    .campaign-desc-cont {
        font-size: 16px;
    }
    .camp-lbl-collected span {
        font-size: 16px;
    }
    .camp-lbl-collected {
        width: 70px;
        margin-right: -35px;
    }
    h2.camp-h2 {
        font-size: 26px;
    }
    .camp-lead {
        font-size: 18px;
    }
    .camp-h3 {
        font-size: 24px;
    }
    .camp-curr-goal {
        font-size: 24px;
    }
    .camp-lead:last-child {
        margin-bottom: 50px;
    }
    .camp-gist {
        font-size: 26px;
    }
}
@media (max-width: 1050px) {
    h1.campaign-title {
        padding-bottom: 30px;
    }
    .camp-lbl-rest {
        font-size: 12px;
    }
    .camp-lbl-collected-rest {
        font-size: 16px;
    }
    .camp-progress-bar {
        margin-bottom: 80px;
        margin-top: 15px;
    }
    .people-title {
        font-size: 16px;
    }
    .people-photo-wrap {
        padding: 10px 20px;
    }
}
@media (max-width: 992px) {
    h2.camp-h2-big-mrg {
        margin-top: 70px;
        margin-bottom: 50px;
    }
    .camp-spec-steps {
        border-right: none;
        border-bottom: 1px solid #333;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    .camp-spec-steps:first-child {
        padding-top: 0;
    }
    .camp-second-step-stat {
        padding-bottom: 0;
        margin-bottom: 30px;
    }
    .camp-third-step-btns a {
        max-width: 280px;
    }
    .camp-third-step-link {
        margin: 30px 0;
    }
    .camp-gist {
        margin-bottom: 50px;
    }
    .camp-gist-form {
        padding: 0;
    }
}
@media (max-width: 768px) {
    .campaign-desc-cont {
        margin-bottom: 40px;
    }
    .camp-curr-goal {
        margin-bottom: 10px;
    }
    .curr-gaol-img-wrap {
        margin-bottom: 20px;
    }
    .curr-goal-feature {
        font-size: 16px;
        margin-bottom: 20px;
    }
}
@media (max-width: 700px) {
    .first-screen-caption {
        margin-top: 0;
        top: 80px;
        margin-left: 30px;
    }
    .first-screen-caption h1 {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .first-screen-caption h2 {
        font-size: 16px;
        line-height: 21px;
        margin-bottom: 16px;
    }
    .first-screen-caption a {
        font-size: 14px;
        width: 300px;
        line-height: 60px;
    }
    .first-screen-bg {
        width: 100%;
        padding-left: 0;
    }
}
@media (max-width: 470px) {
	.header .section-1 .container {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}
    header {
        height: 70px;
        padding: 0;
    }
    .header .hb-section-outer {
		height: 70px;
	}
    .header-logo {
        width: 40%;
    }
    .header-logo img {
        max-width: 100%;
    }
    .login-btns>a {
        padding: 7px 15px;
        font-size: 14px;
    }
    .login-btn {
        margin-right: 5px;
    }
    .first-screen-caption {
        margin-left: 10px;
        top: 40px;
    }
    .header .element-item.hb-s1i3 {
    	margin-right: 10px;
    	margin-left: 30px;
    }
    h1.campaign-title {
        padding-bottom: 20px;
        font-size: 24px;
    }
    .campaign-first-scr {
        padding: 0;
        padding-top: 20px;
        min-height: auto;
    }
    .camp-lbl-collected {
        margin-right: 0;
    }
    .btn-cotrib {
        margin-top: 30px;
    }
    .camp-gist {
        font-size: 16px;
    }
    .camp-gist-form input{
        display: block;
        width: 100%;
        height: 40px;
        margin-bottom: 10px;
    }
    .camp-gist-form input:last-child {
        margin-bottom: 30px;
    }
    .camp-gist-form button {
        margin-top: 30px;
    }
    .camp-third-step-link-title {
        text-align: center;
        margin-bottom: 10px;
    }
    .camp-third-step-link-wrap {
        display: block;
    }
    .camp-third-step-link-wrap input {
        width: 80%;
        margin-left: 10%;
        margin-bottom: 10px;
    }
}
.woocommerce-Price-amount {
    display: flex !important;
}

/*Custom*/
.custom-campaign-desc-title {
    margin-top:45px;
}
.camp-lbl-collected {
    font-style: normal;
    font-size: 16px;
}
.custom-camp-spec-steps .camp-spec-steps{
    padding: 55px 20px;
}
.custom-camp-spec-steps {
    border: 1px solid #c3c3c36e;
    border-radius: 10px;
    /* box-shadow: 5px 5px #c6e3fc; */
    box-shadow: 4px 4px rgba(120, 183, 247, 0.27);
}
.custom-campaign-first-scr .camp-spec-steps {
    border-right: 20px solid #7569f7;
}
.custom-campaign-first-scr .camp-spec-steps:last-child {
    border: none;
}
.custom-campaign-first-scr .camp-gist-form .form-control {
    height: 18%;
}
.custom-campaign  .camp-curr-goal {
    margin-top: 40px;
}
.custom-campaign  .spec-ideas {
    color:#fff;
}
.custom-campaign .people-title {
    text-align: center;
}
.custom-campaign .campaign-desc-title {
    font-weight: bold;
    text-transform: uppercase;
}
.custom-campaign h1 {
    font-size: 36pt;
    color: #0680f2;
}
.custom-campaign .campaign-desc-cont p {
    font-size: 14px;
    padding-top: 35px;
}
.custom-campaign .camp-h3 {
    color:white
}
.custom-campaign .col-lg-5 {
    background-color: #0680f2; 
    border-radius: 10px; 
    /* box-shadow: 5px 5px #c6e3fc;  */
    box-shadow: 4px 4px rgba(120, 183, 247, 0.27);
    padding: 10px;
}
.custom-campaign .col-lg-6 {
    box-shadow: 4px 4px rgba(120, 183, 247, 0.27);
    border: 1px solid #c3c3c36e; 
    border-radius: 10px; 
    /* box-shadow: 5px 5px #c6e3fc; */
}
.custom-campaign .camp-form-about {
    border:none; 
    margin-bottom: 0;
}
.custom-campaign .camp-qst-about-label {
    color: #fff;
}
.custom-campaign  .camp-qst-about {
    color: #fff; 
    font-size: 22px; 
    font-weight: bold;
}
.linked_product_feature {
    margin-bottom: 70px;
}
.custom-pgi img, .custom-wp-post-image {
    border-radius: 10px;
    /* box-shadow: 5px 5px #c6e3fc; */
    box-shadow: 4px 4px rgba(120, 183, 247, 0.27);
}
.custom_compaign_info_block {
    border-radius: 10px;
    /* box-shadow: 5px 5px #c6e3fc; */
    box-shadow: 4px 4px rgba(120, 183, 247, 0.27);
    border: 1px solid #c0c0c0;
    padding: 20px;
    margin-bottom: 15px;
    height: 72vh;
}
.camp-progress-bar {
    width: 77%;
    margin-left: 45px;
}

.sbmt-step-btn-custom-mis, .sbmt-step-btn-custom-mis:hover {
    background-color: #7569f7;
    width: 210px;
    height: 57px;
    font-size: 20px;
    font-weight: normal;
}

.sbmt-step-btn-custom {
    width: 330px;
    height: 57px;
    background-image: linear-gradient(to right, #756af7 0%, #0780f3 100%);
    
}
.sbmt-step-btn-custom:hover { background-position: right center; }
.sbmt-step-btn-custom-3-steps {
    background-image: linear-gradient(to right, #756af7 0%, #0780f3 100%);
    margin: 30px 0 0;
}
.custom-campaign-first-scr-share-idea {
    margin-top: 45px;
    margin-bottom: 10px;
}
.camp-third-step-link-wrap > .form-control {
    border: 1px solid #0680f2;
    border-radius: 0.55rem;
}
.camp-third-step-link > .camp-third-step-link-wrap  {
    margin: 0 40px 0 40px;
}
.sbmt-step-btn-custom-share-idea-devider {
    margin-top: 100px;
}
.sbmt-step-btn-custom-share-idea, .sbmt-step-btn-custom-share-idea:hover {
    color: #7569f7;
    background-color: #fff;
    width: 230px;
    height: 52px;
    font-size: 24px;
    font-weight:normal;
}
.custom-campaign-first-scr-share-idea .camp-gist-form {
    text-align:center;
}
.custom-campaign-first-scr-share-idea .form-control {
    width: 30%;
    margin: 20px 30px;
}
/* background: linear-gradient(270deg, #7569F7 0%, #0680F2 100%); */


